<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>余姚市</key>
	<array>
		<string>凤山街道</string>
		<string>阳明街道</string>
		<string>梨洲街道</string>
		<string>兰江街道</string>
		<string>低塘街道</string>
		<string>朗霞街道</string>
		<string>黄家埠镇</string>
		<string>临山镇</string>
		<string>泗门镇</string>
		<string>小曹娥镇</string>
		<string>马渚镇</string>
		<string>牟山镇</string>
		<string>丈亭镇</string>
		<string>三七市镇</string>
		<string>河姆渡镇</string>
		<string>梁弄镇</string>
		<string>陆埠镇</string>
		<string>大隐镇</string>
		<string>大岚镇</string>
		<string>四明山镇</string>
		<string>鹿亭乡</string>
		<string>浙江余姚经济开发区</string>
	</array>
	<key>慈溪市</key>
	<array>
		<string>浒山街道</string>
		<string>白沙路街道</string>
		<string>古塘街道</string>
		<string>宗汉街道</string>
		<string>坎墩街道</string>
		<string>龙山镇</string>
		<string>掌起镇</string>
		<string>观海卫镇</string>
		<string>附海镇</string>
		<string>桥头镇</string>
		<string>匡堰镇</string>
		<string>逍林镇</string>
		<string>新浦镇</string>
		<string>胜山镇</string>
		<string>横河镇</string>
		<string>崇寿镇</string>
		<string>长河镇</string>
		<string>周巷镇</string>
		<string>市鸣鹤风景区开发建设办</string>
		<string>市现代农业开发区管委会</string>
		<string>市文化商务区</string>
		<string>慈溪高新技术产业开发区管委会</string>
		<string>市商品市场物流园区管委会</string>
	</array>
	<key>奉化市</key>
	<array>
		<string>锦屏街道</string>
		<string>岳林街道</string>
		<string>江口街道</string>
		<string>西坞街道</string>
		<string>萧王庙街道</string>
		<string>溪口镇</string>
		<string>莼湖镇</string>
		<string>尚田镇</string>
		<string>大堰镇</string>
		<string>松岙镇</string>
		<string>裘村镇</string>
		<string>奉化经济开发区管委会</string>
		<string>阳光海湾开发建设指挥部</string>
	</array>
	<key>宁海县</key>
	<array>
		<string>跃龙街道</string>
		<string>桃源街道</string>
		<string>梅林街道</string>
		<string>桥头胡街道</string>
		<string>长街镇</string>
		<string>力洋镇</string>
		<string>一市镇</string>
		<string>前童镇</string>
		<string>桑洲镇</string>
		<string>岔路镇</string>
		<string>黄坛镇</string>
		<string>大佳何镇</string>
		<string>强蛟镇</string>
		<string>西店镇</string>
		<string>深甽镇</string>
		<string>胡陈乡</string>
		<string>茶院乡</string>
		<string>越溪乡</string>
		<string>宁海经济开发区</string>
		<string>宁海科技园区</string>
		<string>物流园区</string>
	</array>
	<key>象山县</key>
	<array>
		<string>丹东街道</string>
		<string>丹西街道</string>
		<string>爵溪街道</string>
		<string>石浦镇</string>
		<string>西周镇</string>
		<string>鹤浦镇</string>
		<string>贤庠镇</string>
		<string>墙头镇</string>
		<string>泗洲头镇</string>
		<string>定塘镇</string>
		<string>涂茨镇</string>
		<string>大徐镇</string>
		<string>新桥镇</string>
		<string>东陈乡</string>
		<string>晓塘乡</string>
		<string>黄避岙乡</string>
		<string>茅洋乡</string>
		<string>高塘岛乡</string>
		<string>象山经济开发区</string>
		<string>象山产业区</string>
		<string>象山县大目湾开发管委会</string>
		<string>象山石浦渔港旅游开发管委会</string>
		<string>宁波影视文化产业区管委会</string>
	</array>
	<key>鄞州区</key>
	<array>
		<string>钟公庙街道</string>
		<string>下应街道</string>
		<string>中河街道</string>
		<string>首南街道</string>
		<string>石碶街道</string>
		<string>潘火街道</string>
		<string>百丈街道</string>
		<string>东胜街道</string>
		<string>明楼街道</string>
		<string>白鹤街道</string>
		<string>东柳街道</string>
		<string>东郊街道</string>
		<string>福明街道</string>
		<string>瞻岐镇</string>
		<string>咸祥镇</string>
		<string>塘溪镇</string>
		<string>东吴镇</string>
		<string>五乡镇</string>
		<string>邱隘镇</string>
		<string>云龙镇</string>
		<string>横溪镇</string>
		<string>姜山镇</string>
		<string>集士港镇</string>
		<string>横街镇</string>
		<string>古林镇</string>
		<string>高桥镇</string>
		<string>鄞江镇</string>
		<string>洞桥镇</string>
		<string>章水镇</string>
		<string>龙观乡</string>
		<string>鄞州经济开发区</string>
		<string>南部商务区</string>
	</array>
	<key>海曙区</key>
	<array>
		<string>月湖街道</string>
		<string>江厦街道</string>
		<string>鼓楼街道</string>
		<string>南门街道</string>
		<string>西门街道</string>
		<string>白云街道</string>
		<string>段塘街道</string>
		<string>望春街道</string>
		<string>石碶街道</string>
		<string>集士港镇</string>
		<string>横街镇</string>
		<string>古林镇</string>
		<string>高桥镇</string>
		<string>鄞江镇</string>
		<string>洞桥镇</string>
		<string>章水镇</string>
		<string>龙观乡</string>
	</array>
	<key>江北区</key>
	<array>
		<string>中马街道</string>
		<string>白沙街道</string>
		<string>孔浦街道</string>
		<string>文教街道</string>
		<string>甬江街道</string>
		<string>庄桥街道</string>
		<string>洪塘街道</string>
		<string>慈城镇</string>
		<string>江北区工业区管委会</string>
	</array>
	<key>镇海区</key>
	<array>
		<string>招宝山街道</string>
		<string>蛟川街道</string>
		<string>庄市街道</string>
		<string>骆驼街道</string>
		<string>澥浦镇</string>
		<string>九龙湖镇</string>
		<string>金属园区</string>
	</array>
	<key>北仑区</key>
	<array>
		<string>新碶街道</string>
		<string>大碶街道</string>
		<string>小港街道</string>
		<string>戚家山街道</string>
		<string>霞浦街道</string>
		<string>柴桥街道</string>
		<string>白峰街道</string>
		<string>郭巨街道</string>
		<string>春晓镇</string>
		<string>梅山乡</string>
	</array>
	<key>宁波大榭开发区</key>
	<array>
		<string>大榭街道</string>
	</array>
	<key>宁波国家高新区</key>
	<array>
		<string>新明街道</string>
		<string>梅墟街道</string>
		<string>贵驷街道</string>
	</array>
	<key>宁波保税区</key>
	<array>
		<string> </string>
	</array>
	<key>宁波市东钱湖旅游度假区</key>
	<array>
		<string>东钱湖镇</string>
		<string>工业区片区</string>
	</array>
	<key>杭州湾新区</key>
	<array>
		<string>新区</string>
		<string>庵东镇</string>
	</array>
	<key>宁波石化开发区</key>
	<array>
		<string> </string>
	</array>
	<key>宁波机场与物流园区</key>
	<array>
		<string> </string>
	</array>
	<key>其他</key>
	<array>
		<string> </string>
	</array>
</dict>
</plist>
